
<!-- client -->
<table id="main-table" class="table table-striped table-bordered table-hover" width="100%">
  <thead>
    <tr>
      <% fields.forEach(function(field){ %>
        <% var hide = typeof field.layout.hide !== 'undefined' ? field.layout.hide : '' %>
        <% var sort = '' %>
        <% if (typeof field.layout.sort !== 'undefined') { %>
          <% sort = !field.layout.sort ? 'no-sort' : '' %>
        <% }%>
        <th data-hide="<%= hide %>" class="<%= !field.layout.sort ? 'no-sort' : '' %>">
          <%= field.layout.label %>
        </th>
      <% }); %>
    </tr>
  </thead>
  <!-- client only -->
  <tbody>
    <tr v-for="item in data.items">
      <td>{{ item.id }}</td>
      <td><a href="/admin/#/admin/{{modelName}}/show/{{item.id}}">{{ item.author }}</a></td>
      <td>{{item.content }}</td>
      <td>{{ item.source }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.imgUrl }}</td>
      <td align="center" style="cursor: pointer;">
        <div class="row">
          <a class="btn btn-default btn-xs" role="button" v-on:click="show(item.id)">
            <i class="fa-fw fa fa-eye text-muted" />
          </a>
          <a class="btn btn-default btn-xs" role="button" v-on:click="edit(item.id)">
            <i class="fa-fw fa fa-pencil-square-o text-muted"/>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
 </table>


<script type="text/javascript">
  var pagefunction = function() {

    // server only
    var columns = [
      <% fields.forEach(function(field){ %>
        <% if (field.type !== 'virtual') { %>
          { "data": "<%= field.name %>" },
        <% } else {%>
          { "data": null },
        <% }%>
      <% }); %>
      { "data": null },
    ]

    // server only
    var columnDefs = [
      <% fields.forEach(function(field, index){ %>
        <% if (field.type === 'virtual') { %>
        // <%= field.name %>
        {
          "targets"  : <%= index %>,
          "orderable": false,
          "searchable": false,
          "render": function ( data, type, row ) {
            return '<td>row.<%= field.name %></td>'
          }
        },
        <% }%>
      <% }); %>
        "targets"  : <%= fields.length %>,
        "orderable": false,
        "searchable": false,
        "render": function ( data, type, row ) {
          var colBody =
          '<div class="row-action-buttons hidden-xs hidden-sm">'+
          '<a name="showDataButton" class="btn btn-default btn-xs" role="button" data-id="'+row.id+'">'+
          '<i class="fa-fw fa fa-eye text-muted" />'+
          '</a>'+
          '<a name="editDataButton" class="btn btn-default btn-xs" role="button" data-id="'+row.id+'">'+
          '<i class="fa-fw fa fa-pencil-square-o text-muted"/>'+
          '</a>'+
          '</div>';
          return colBody;
        }
      },
    ]
    var serverSidePaging = <%%= (data.serverSidePaging != null)?data.serverSidePaging:false %>;
    <%%- include vue.ejs %>
    appMain.$mount("#main-index");
    appMain.loadItems(appMain.renderTable);
  };
</script>
